.se-container {
    width: 100%;
    height: auto;
    color: #2B2D42;
    padding: 0 .5rem;

    .content {
        display: flex;
        flex-direction: column;
        width: inherit;
    }

    .experience-item {
        margin-bottom: 20px;
    }
    
    .experience-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .job-title {
        color: rgba(42, 44, 65, 0.8);
        font-size: 1.125rem;
        font-weight: 500;
    }
    
    .company-name {
        font-size: 1rem;
        color: rgba(42, 44, 65, 0.8);
        font-weight: 500;
    }
    
    .experience-details {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        flex-direction: column;
    }
    
    .job-description {
        font-size: 14px;
        margin-top: 10px;
        color: rgba(42, 44, 65, 0.8);
        line-height: 1.5;
    }
    
    .experience-details span {
        margin-right: 10px;
    }
    
    .experience-header h3 {
        margin: 0;
    }
    
    .company-name,
    .employment-date,
    .location {
        color: #555;
    }

    mat-divider {
        margin-bottom: 14px;
    }

}