<ion-card class="custom-card">
  <ion-card-content>
    <div class="se-container">
      <div class="header">
        Experience: 
      </div>

      <div class="content">
        @for (item of experience(); track $index) {
          <div class="experience-item">
            <div class="experience-header">
              <div class="job-title">{{item.title}}</div>
            </div>
            <div class="experience-details">
              <span class="company-name">{{item.companyName}} - {{item.employmentType}}</span>
              <span class="employment-date">{{item.startDate | date: 'MMM/yyyy'}} - {{item.currentWorking? 'Present' : item.endDate | date: 'MMM/yyyy'}} • {{monthsYearsDifference(item.startDate, item.endDate)}}</span>
              <span class="location">{{item.location}} - {{item.locationType}}</span>
            </div>
            <div class="job-description" [innerHTML]="item.description">
            </div>
          </div>

          @if(!$last) {
            <mat-divider></mat-divider>
          }
        }
      </div>
    </div>

  </ion-card-content>
</ion-card>