
<div class="profile-container">
  <div class="img">
    <img alt="Profile Picture" src="/assets/profile-image.png" width="125" height="125" loading="lazy"/>
  </div>
  <div class="info">
    <div class="name">{{name}}</div>
    <div class="jobTitle">{{jobTitle}}</div>
    <div class="location"><mat-icon aria-label="location icon" fontIcon="public" />{{location}}</div>
  </div>
  <div class="links">
    @for (item of links; track item.href) {
      <ion-icon [name]="item.icon" [matTooltip]="item.name" (click)="window.open(item.href, '_blank')" />
    } 
  </div>
</div>
<mat-divider></mat-divider>
<div class="about-container">
  <div class="header">
    About me:
  </div>
  <div class="content">{{about_me}}</div>
</div>

<div class="skills-container">
  <div class="header">Skills:</div>
  <div class="skills">
    @for (item of skills; track item) {
      <ion-chip color="secondary">{{item}}</ion-chip>
    } 
  </div>
</div>