
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-container {
    width: 100%;
    @include flex-column-center;

    .img {
        img {
            border-radius: .5rem;
           }
    }
    
    .info {
        @include flex-column-center;

        font-size: 16px;
        height: auto;

        * {
            margin: .125rem 0; // 4px top and bottom separation
        }
        
        color: #2B2D42;
        .name {
            font-size: 1.5rem;
            font-weight: bold;
        }
        
        .jobTitle {
            font-size: 1.125rem;
            font-weight: 500;
        }
        
        .location {
            font-size: 1.125rem;
            font-weight: 500;
            display: inherit;
            align-items: center;
            mat-icon {
                margin-right: .25rem;
                color: #2B2D42;
            }
        }
    
    }
    
    
    .links {
        ion-icon {
            cursor: pointer;
            font-size: 1.875rem;
            margin-right: .5rem;
            color: #2B2D42;
        }
    }
}



mat-divider {
    margin: .5rem 0;
}

.about-container {
    width: 90%;
    font-size: 16px;
    color: #2B2D42;
    margin: 1rem .5rem;

    * {
        margin: .25rem 0; 
    }

    .content {
        color: #7f8c8d;
        font-size: 1rem;
        font-weight: 500;
        text-align: justify;
    }
}

.skills-container {
    font-size: 16px;
    color: #2B2D42;
    margin: 1rem .5rem;

    * {
        margin: .25rem 0; 
    }

    .skills {
        ion-chip {
            cursor: default;
            margin-right: .5rem;
        }
        
        .ion-color:hover {
            background: rgba(235,243,248,255);
        }

        
    }
}