/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './theme.scss' as my-theme;
@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);

  @include mat.theme((color: (primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
        theme-type: dark),
      typography: Roboto,
      density: 0,
    ));
}