<ion-card class="custom-card">
  <ion-card-content>
    <div class="cards-container">
      <div class="header">
        Featured Projects:
      </div>

      <div class="cards md:mt-2">
        @if(device() === 'Mobile') {
          @for (project of featuredProjects(); track project) {
            <div class="max-w-7xl mx-auto px-4 my-2">
              <div class="flex flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden w-full h-auto md:h-64">
                <img [alt]="project.name" [src]="'/' + project.photoName" class="w-full md:w-1/2 h-48 md:h-auto object-cover">
                <div class="p-6 flex flex-col justify-between w-full md:w-1/2">
                  <div class="flex justify-between items-center">
                    <div class="text-lg font-semibold text-gray-700">{{project.name}}</div>
                    @if(project.href) {
                      <div class="icon" [title]="project.href">
                        <mat-icon aria-hidden="false" aria-label="project.href" fontIcon="link" class="cursor-pointer text-gray-600 hover:text-gray-400" (click)="goToLink(project.href)"></mat-icon>
                      </div>
                    }
                  </div>
                  <p class="text-gray-600 text-sm line-clamp-7 text-justify" [matTooltip]="project.shortDesc">
                    {{project.shortDesc}}
                  </p>
                </div>
              </div>
            </div>
          }
        } @else {
          <p-carousel [value]="featuredProjects()" [numVisible]="4" [numScroll]="1" [showNavigators]="true"
          [responsiveOptions]="responsiveOptions">
          <ng-template let-project pTemplate="item">

            <!-- component -->
            <div class="max-w-7xl mx-auto px-4 mb-1">
              <div class="flex flex-col md:flex-row bg-white shadow-lg rounded-lg overflow-hidden w-full h-auto md:h-64">
                <img [alt]="project.name" [src]="'/' + project.photoName" class="w-full md:w-2/6 h-48 md:h-auto object-cover">
                <div class="p-6 flex flex-col gap-3 w-full md:w-4/6">
                  <div class="flex justify-between items-center">
                    <div class="text-lg font-semibold text-gray-700">{{project.name}}</div>
                    @if(project.href) {
                      <div class="icon" [title]="project.href">
                        <mat-icon aria-hidden="false" aria-label="project.href" fontIcon="link" class="cursor-pointer text-gray-600 hover:text-gray-400" (click)="goToLink(project.href)"></mat-icon>
                      </div>
                    }
                  </div>
                  <p class="text-gray-600 text-sm lg: line-clamp-8 text-justify" [matTooltip]="project.shortDesc">
                    {{project.shortDesc}}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
        }
      </div>
    </div>

  </ion-card-content>
</ion-card>