.cards-container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px !important;
    width: 100%;
    height: auto;

    color: #2B2D42;
    padding: 0 .5rem;

    .cards {
        height: 100%;

        mat-card {

            margin: .5rem 0.5rem;
            margin-bottom: 1rem;
        }

    }
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header-text {
        font-size: large;
        font-weight: 500;
        margin-top: .5rem;
        color: rgba(42, 44, 65, 0.8);
    }


    .icon {
        display: inherit;

        mat-icon:hover {
            color: rgba(42, 44, 65, 0.5) !important;
            cursor: pointer;
        }
    }
}

.card-content {
    display: flex;
    text-align: justify;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: gray;
    font-size: 15px;
}