<ion-card class="custom-card">
  <ion-card-content>
    <div class="cards-container">
      <div class="header">
        Featured Projects: 
      </div>

      <div class="cards">
        <p-carousel [value]="featuredProjects()" [numVisible]="4" [numScroll]="1" [showNavigators]="true"
          [responsiveOptions]="responsiveOptions" >
          <ng-template let-project pTemplate="item">
            <mat-card appearance="outlined" >
              <img mat-card-image class="img" [alt]="project.name" [ngSrc]="'/' + project.photoName" width="300" height="168">
              <mat-card-content>
                <div class="card-header">
                 <div class="header-text" [innerHTML]="project.name"></div>
                 @if (project.href) {
                   <div class="icon" [title]="project.href">
                     <mat-icon aria-hidden="false" aria-label="project.href" fontIcon="link" (click)="goToLink(project.href)"></mat-icon>
                   </div>
                 }
                </div>
                <div class="card-content" [innerHTML]="project.shortDesc"></div>
              </mat-card-content>
            </mat-card>
            
          </ng-template>
        </p-carousel>
      </div>
    </div>

  </ion-card-content>
</ion-card>