---
// Contact section
import { Icon } from 'astro-icon/components';
---
<section class="py-6">
  <div class="text-center text-xs text-gray-400">
    Connect with me on LinkedIn and Github
    <div class="flex justify-center gap-6 mt-2">
      <a href="https://www.linkedin.com/in/bdebruyn/" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center">
        <Icon name="mdi:linkedin" class="w-5 h-5" />
        LinkedIn
      </a>
      <a href="https://github.com/bdebruyn02" target="_blank" rel="noopener noreferrer" class="flex flex-col items-center">
       <Icon name="mdi:github" class="w-5 h-5" />
        Github
      </a>
    </div>
  </div>
</section>
