mat-divider {
    margin: 1rem 0.5rem;
}

.footer {
    margin: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: rgba(42, 44, 65, 0.8);
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    align-items: center;
}