.cards-container {
    width: 100%;
    height: auto;

    color: #2B2D42;
    padding: 0 .5rem;

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        
    }
}

.hasHref {
    cursor: pointer;
    transition: transform 300ms ease-out;
}

.hasHref:hover {
    transform: translateY(-5px);
}